<html>
<head>
<title>
massive-archer
</title>

</head>
<body>
<div style="float:right;">
  <% if @user.nil? %>
  <form action="/login" method="POST">
    <label>username</label><input type="text" name="username"><br>
    <label>password</label><input type="password" name="password"><br>
    <button type="submit">Log In!</button>
  </form>
  <% unless @temp_user.nil? %>
    You have <%= ((@temp_user.valid_until - Time.now) / 3600).round(1) %> hours remaining on your free trial.<br><br>
  <% end %>

  <a style="font-weight: bold; color: white; background: blue; border-radius: 5px; padding: 5px;" href="/create-account">Create an Account</a>
  <% else %>
  Logged in as <%= @user.username %> <a href='/logout'>Logout</a>
  <% end %>
</div>
Welcome to massive-archer<br>
<img src="http://www.ejumpcut.org/archive/jc50.2008/StarTrekEnt/twilightJCimages/20ArcherWatches.jpg" /><br>
The number one site for Husker news.<br><br>

<a href="/scan">Scan for new articles</a><br>
<a href="/review">Review articles for publishing</a><br><br>

<hr>
<% if (!@temp_user.nil? && @temp_user.valid_until > Time.now) || !@user.nil? %>
Check out our hot recent Husker news:
<hr>
<%= recent_items_html %>
<% else %>
Uh oh! Your free trial has expired. Please create an account and pay to continue viewing great Husker news!!
<% end %>
</body>
</html>

