<html>
<head>
<title>
massive-archer review item
</title>

</head>
<body>

<h3><%= item.title %></h3>

<a href="<%= item.link %>"><%= item.link %></a><br><br>

<form method="POST" action="/review/<%= item.id %>">
    <textarea cols="80" rows="10" name="site_markdown"></textarea><br>

    <input type="radio" name="approval" value="approve">Approved!</input><br>
    <input type="radio" name="approval" value="reject">Reject</input><br><br>

    <button type="submit">Go</button>

</form>

</body>
</html>
